{% extends 'baseFront.html.twig' %}

{% block title %}New Commande{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="box-inner-2">
                <div>
                    <p class="fw-bold">Payment Details</p>
                    <p class="dis mb-3">Complete your purchase by providing your payment details</p>
                </div>
                <form method="post" action="{{ path('app_commande_new', {'total': total}) }}">
                    {{ form_widget(form._token) }}

                            {{ form_widget(form.qtcommande, {'id': 'quantity','value':'1'}) }}

                            {{ form_widget(form.prix, {'id': 'price','value':total }) }}

                    <p>Total price: <span id="price">{{ total }}</span></p>
                        <div class="my-3 cardname">

                        {{ form_row(form.datecommande) }}
                            {{ form_errors(form) }}
                        </div>
                        <div class="address">
                                <div class="btn btn-primary mt-2"  >
                                    <button type="submit">Confirmer</button>
                                </div>
                            </div>


                </form>
    </div>
        </div>
    </div>
{% endblock %}
