<!DOCTYPE html>
<html
	lang="en">

	<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:46 GMT -->
	{% block head %}
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
			<title>Doccure - Login</title>

			<!-- Favicon -->
			<link
			rel="shortcut icon" type="image/x-icon" href="{{asset ('assets1/img/favicon1.png')}}">

			<!-- Bootstrap CSS -->
			<link
			rel="stylesheet" href="{{asset ('assets/css/bootstrap.min.css')}} ">

			<!-- Fontawesome CSS -->
			<link
			rel="stylesheet" href="{{asset ('assets/css/font-awesome.min.css')}} ">

			<!-- Main CSS -->
			<link rel="stylesheet" href="{{asset ('assets/css/style.css')}} ">


		</head>
	{% endblock %}

	<body>
		{% block body %}
			<!-- Main Wrapper -->


		{% endblock %}
		<!-- /Main Wrapper -->

		<!-- jQuery -->
		<script src="{{asset ('assets/js/jquery-3.2.1.min.js')}} "></script>

		<!-- Bootstrap Core JS -->
		<script src="{{asset ('assets/js/popper.min.js')}} "></script>
		<script src="{{asset ('assets/js/bootstrap.min.js')}} "></script>

		<!-- Custom JS -->
		<script src="{{asset ('assets/js/script.js')}} "></script>

	</body>

	<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:46 GMT -->

</html>
